<div ng-controller="invoiceController">
  <h1>New Invoice</h1>

  <div class="container">
    <form class="form" name="invoiceForm" novalidate>
      <div class="form-group">
        <input ng-model="invoice.client.f_Name" placeholder="First Name" class="form-control" required />
      </div>

      <div class="form-group">
        <input ng-model="invoice.client.l_Name" placeholder="Last Name" class="form-control" required />
      </div>

      <div class="form-group">
        <input ng-model="invoice.client.email" type="email" placeholder="Email" class="form-control" required />
      </div>

      <div class="form-group">
        <input ng-model="invoice.client.phone" placeholder="Phone" class="form-control" required />
      </div>

      <div ng-repeat="taskNum in tasks">

        <div class="form-group">
          <input ng-model="invoice.tasks[taskNum].name" placeholder="Task" class="form-control" required />
        </div>

        <div class="form-group">
          <input ng-model="invoice.tasks[taskNum].price" type="number" placeholder="Amount Charged" class="form-control" required />
        </div>

        <div class="form-group">
          <textarea ng-model="invoice.tasks[taskNum].description" class="form-control" placeholder="Comments"></textarea>
        </div>
      </div>
    </form>

    <button ng-click="submit()" class="btn btn-default">Submit</button>
    <button ng-disabled="!invoiceForm.$dirty" ng-click="addTask()" type="submit" class="btn btn-default">Add Task</button>
  </div>
</div>
